<a href="https://colab.research.google.com/github/CuriousPumpkin/car_price_prediction_model/blob/main/Car_Price_Prediction_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##importing the dependancies

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn import metrics

Data Collection and Processing

In [ ]:
##Loading the data from csv file to pandas data frame

car_dataset = pd.read_csv('/content/car data.csv')

In [ ]:
##inspecting the first 5 rows of dataset
car_dataset.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [ ]:
##Checking the number of rows and columns
car_dataset.shape

In [ ]:
#get some information about the dataset
car_dataset.info()

In [ ]:
#checking the number of missing values
car_dataset.isnull().sum()

In [ ]:
#checking the distribution

print(car_dataset.Fuel_Type.value_counts())
print(car_dataset.Seller_Type.value_counts())
print(car_dataset.Transmission.value_counts())

Petrol    239
Diesel     60
CNG         2
Name: Fuel_Type, dtype: int64
Dealer        195
Individual    106
Name: Seller_Type, dtype: int64
Manual       261
Automatic     40
Name: Transmission, dtype: int64

Encoding the categorical data

In [ ]:
#Encoding the "Fuel_Type" column
car_dataset.replace({'Fuel_Type' : {'Petrol' : 0, 'Diesel' : 1, 'CNG' : 2}}, inplace = True)

#Encoding the "Seller" column
car_dataset.replace({'Seller_Type' : {'Dealer' : 0, 'Individual' : 1 }}, inplace = True)

#Encoding the "Transmission" column
car_dataset.replace({'Transmission' : {'Manual' : 0, 'Automatic' : 1 }}, inplace = True)

In [ ]:
car_dataset.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,0,0,0,0
1,sx4,2013,4.75,9.54,43000,1,0,0,0
2,ciaz,2017,7.25,9.85,6900,0,0,0,0
3,wagon r,2011,2.85,4.15,5200,0,0,0,0
4,swift,2014,4.60,6.87,42450,1,0,0,0

Splitting the data and target

In [ ]:
X = car_dataset.drop(['Car_Name','Selling_Price'],axis = 1)
Y = car_dataset['Selling_Price']

In [ ]:
print(X)

In [ ]:
print(Y)

0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
       ...
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 301, dtype: float64

Splitting Training and Test Data

In [ ]:
X_train, x_test, Y_train, y_test = train_test_split(X, Y, test_size = 0.1, random_state = 2)

Model Training
1. Linear Regression

In [ ]:
#loading the linear regression
lin_regmodel = LinearRegression()

In [ ]:
lin_regmodel.fit(X_train, Y_train)

Model Evaluation

In [ ]:
#prediction on Trainning data

training_data_prediction =  lin_regmodel.predict(X_train)

In [ ]:
#R square Error (to compare)
error_score = metrics.r2_score(Y_train, training_data_prediction)

print("r suare error: ", error_score)

Visualise the actual prices and predicted prices

In [ ]:
plt.scatter(Y_train, training_data_prediction)
plt.xlabel("Actual Price")
plt.ylabel("predicted price")
plt.title("Actual prices vs Predicted Prices")
plt.show()

In [ ]:
test_data_prediction =  lin_regmodel.predict(x_test)

In [ ]:
error_score1 = metrics.r2_score(y_test, test_data_prediction)

print("r suare error: ", error_score1)

In [ ]:
plt.scatter(y_test, test_data_prediction)
plt.xlabel("Actual Price")
plt.ylabel("predicted price")
plt.title("Actual prices vs Predicted Prices")
plt.show()

2. Lasso Regression

In [ ]:
#loading the linear regression
lasso_regmodel = Lasso()

In [ ]:
lasso_regmodel.fit(X_train, Y_train)

In [ ]:
#prediction on Trainning data

training_data_prediction =  lasso_regmodel.predict(X_train)

In [ ]:
#R square Error (to compare)
error_score = metrics.r2_score(Y_train, training_data_prediction)

print("r suare error: ", error_score)

In [ ]:
plt.scatter(Y_train, training_data_prediction)
plt.xlabel("Actual Price")
plt.ylabel("predicted price")
plt.title("Actual prices vs Predicted Prices")
plt.show()

In [ ]:
test_data_prediction =  lasso_regmodel.predict(x_test)

In [ ]:
error_score1 = metrics.r2_score(y_test, test_data_prediction)

print("r suare error: ", error_score1)

r suare error:  0.8709167941173195

In [ ]:
plt.scatter(y_test, test_data_prediction)
plt.xlabel("Actual Price")
plt.ylabel("predicted price")
plt.title("Actual prices vs Predicted Prices")
plt.show()